@charset "UTF-8";


/*
em HTML é id = em CSS é # Só pode um elemento
em HTML é class = em CSS é . (pode vários elementos
*/


body {
    background-color: rgb(223, 247, 204);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 109, 0);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
    text-align: center;
}

h2 {
    color: rgb(51, 77, 49);
    text-align: justify;
}

.basico {
    color: green;
}

.intermediario {
    color: rgb(155, 155, 8)
}

.avancado {
    color: red;
}

.destaque {
    background-color: rgb(132, 226, 50);    
}

a {
    text-align: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

h3 {
    text-align: center;
}

a {
    text-align: center;
}

.uol {
    display: flex;
    justify-content: center;
}

p {
    text-align: center;
}